[Unit]
Description=NDI Video Sender
After=network-online.target avahi-daemon.service
Wants=network-online.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/ndi-rpi-solution
Environment=PATH=/home/pi/ndi-env/bin:/usr/local/bin:/usr/bin
Environment=LD_LIBRARY_PATH=/opt/ndi/lib
ExecStart=/home/pi/ndi-env/bin/python3 /home/pi/ndi-rpi-solution/ndi_sender.py --source test --width 1280 --height 720 --fps 30
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
